.panel-nav {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0.75rem;

  &__prev-btn,
  &__next-btn {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border: solid 1px;
    background: #333;
    cursor: pointer;

    &:disabled {
      cursor: default;
      opacity: 0.25;
    }
  }

  &__prev-btn {
    border-radius: 0.75em 0 0 0.75em;
  }

  &__next-btn {
    border-radius: 0 0.75em 0.75em 0;
  }
}
