.timer {
  font-size: 1rem;
  line-height: 1rem;

  &__display {
    color: #fff;
    font-family: monospace;
    padding: 0.25em 0.5em;
    background: #000;
  }

  &__btn {
    cursor: pointer;
  }
}
